/* Greeting message style */

.greeting-message{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.greeting-message h2{
  font-size: 50px;
  color: #756cb8;
  display: flex;
}

.greeting-message p{
  color: #333;
  margin-bottom: 50px;
}




/* home page styles */
.home-page{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-page button{
  background-color: transparent;
  border: solid 8px purple;
  border-radius: 15px;
  aspect-ratio: 2 / 3;
  width: 200px;
  margin: 50px;
  color: #333;
  font-size: 30px;
}

.home-page button:hover{
  border: solid 12px rgb(236, 241, 69);
  border-radius: 20px;
  color: #444;
  font-weight: bolder;
  cursor: pointer;
}

