/* home page styles */
.home-page{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-page button{
  background-color: transparent;
  border: solid 8px purple;
  border-radius: 15px;
  aspect-ratio: 2 / 3;
  width: 200px;
  margin: 50px;
  color: #333;
  font-size: 30px;
}

.home-page button:hover{
  border: solid 12px rgb(236, 241, 69);
  border-radius: 20px;
  color: #444;
  font-weight: bolder;
  cursor: pointer;
}

